body{
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}
header nav{
    border-radius:5%;
    
    width: auto;
    
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 2px;
    font: 12px / 18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
header nav ul{
    list-style-type: none;
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    
    position: absolute;
    top: 50px;
    left: 20%;

    
}
header nav ul li{
   float: left;
   

}
header nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px;
    padding: 14px 25px;
    text-align: center;
    background: linear-gradient(to bottom , rgb(7, 7, 7), rgb(253, 253, 253));
    border-right: solid 1px rgba(63, 62, 62, 0.733);
}
#finder{
    padding: 8px;
    padding: 11.5px 25px; 
}
.lo
 {
    border-radius:15%;
   
}
.banner{
    width: 100%;
    height: 700px;

    background-image: url(./icon/expedition_hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;
    text-align: center;
}
.tips a{
    
    text-decoration: none;
    color: white;
}
.tips h1{
    font-size: 40px;
    font-weight: 100;
}
.tips h2{
    font-size: 30px;
    font-weight: 100;
}
.tips h4{
    font-size: 22px;
    font-weight: 100;
}
.tips h4:hover{
    text-decoration: underline;
}
.produts{
    display: flex;
    margin-top: 2px;
    
}
.first,
.second,
.three,
.fourth{
   
    margin-right: 2px;
    width: 300px;
    min-height: 200px;
}
.first{
    background-image: url(./icon/promo_iphone5s_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.second{
    background-image: url(./icon/promo_iphone5c_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    margin-right: 5px;
}
.three{
    background-image: url(./icon/promo_30_years_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 5px;
    margin-right: 5px;
}
.fourth{
    background-image: url(./icon/promo_supplier_responsibility_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    margin-left: 5px;
}
footer{
    color: black;
    display: flex;

}
footer a{
    text-decoration: none;
}
.menu_footer{
    margin: 0%;
    width: 50%;
    height: auto;
    color: black;
}
.menu_footer nav ul{
    list-style-type: none;  
    display: flex; 
    
}
.menu_footer nav ul li a {
    text-decoration: none;
    padding: 2px;
    border-left: solid 2px silver;
}